# Python
__pycache__/
*.py[cod]
.venv/
.python-version

# Editors
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini

# Vivado / Xilinx
*.jou
*.log
*.str
*.wdb
*.pb
*.dmp
*.rpt
*.xml
*.html
*.zip
*.tar.gz
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.srcs/sources_1/ip/
xsim.dir/
.Xil/

# Build artifacts
build/
dist/

